html, body {
background: url(../style/background.jpg) top center repeat;
background-color: #282d37;
background-size:100%;
/* background-size:100% 100%; */
/* height: 900px;
width: 955px; */
}

@media screen and (max-width: 69.999rem) {
	html, body { margin: 0; padding: 0 }
}

* {
	box-sizing: border-box;
}



h1, h2, h3, p, li, blockquote, th, td, a {
	font-family: 'Open Sans', sans-serif;
}

code {
	font-size: 100%;
	font-family: 'Inconsolata', monospace;
	color: #444;
	padding: 2px 4px;
}

h1, h2, h3 {
	margin: 2rem 0 .2rem;
}

h1 {
	font-weight: normal;
	letter-spacing: -.04em;
	margin-bottom: .5rem;
	text-transform: uppercase;
}

h3 {
	font-weight: normal;
}

h2 + h3 {
	margin-top: 1rem;
}

p, li {
	margin: 0 0 .7rem;
}

li ul li {
	margin-top: .7rem;
}

table {
	border-collapse: collapse;
	margin-bottom: 1rem;
}

td, th {
	text-align: left;
	vertical-align: top;
	padding: 10px;
	border: 1px solid #ddd;
}

table tr:nth-child(odd) td, table tr:nth-child(odd) th {
	background: #eee;
}

a {
	text-decoration: none;
	color: blue;
/* 	border-bottom: 3px solid rgba(255, 255, 255, .1); */
}

/* a:visited {
	color: blue;
} */

a:hover {
	text-decoration: none;
	color: DarkBlue;
/* 	border-bottom-color: rgba(217,220,223, .7); */
}

a[href$='.pdf'] {
	background: transparent url(pdf.png) center left no-repeat;
	display: inline-block;
	padding-left: 18px;
}

.subtitle {
	border-bottom: 3px solid rgba(0, 0, 0, .1);
	padding-bottom: .5rem;
	margin-bottom: 1rem;
}

.column {
	max-width: 47rem;
	margin: 0 auto;
	padding: 1.5rem;
	background: white;
}
@media screen and (max-width: 69.999rem) {
	.column { padding: 1rem; }
}

.important {
	background: #ddd;
	padding: 1rem 1rem 0.5rem;
	margin: 1rem 0;
}

@media screen and (min-width: 70rem) {
	nav {
		float: left;
		margin-left: -12rem;	
		width: 12rem;
		padding-right: 3rem;
		margin-top: 100px;
	}		
}
@media screen and (max-width: 69.999rem) {
	nav {	
		margin: 0 0 .2rem;
		background: #161f26;
		border-bottom: 3px solid rgba(0, 0, 0, .1);
/* 		padding-bottom: .5rem; */
/* 		margin-bottom: .5rem;	 */
	}
}

@media screen and (max-width: 69.999rem) {
	nav ul, nav li {
		margin: 0 0 .2rem;
		background: #161f26;
		color: white;
		list-style-type: none;
		padding: 0;
	}
}

nav ul, nav li {
/* 	color: white; */
	list-style-type: none;
	padding: 0;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover  {
	color: gray;
	text-decoration: none;
}

nav .active a {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}

nav .visited a {
	color: white;
	text-decoration: none;
}

td.icon {
	font-size: 3rem;
	text-align: center;
}

.unitPagination {
	overflow: hidden;
	margin: 5rem 0 0;
}
.unitPagination a {
	display: block;
	float: left;
	padding: 10px;
	
	color: rgb(0, 0, 238);
	text-transform: uppercase;
	margin: 0;
	border: 0;
}
.unitPagination a:hover {
	color: darkblue;
	font-weight: bold;
	text-decoration: none;
/* 	background: rgb(0, 0, 238); */
}
.unitPagination .next {
	float: right;
}
.unitPagination .index {
	float: none;
	text-align: center;
	margin: 0 auto;
	width: 150px;
}
