<p class="subtitle">{{ site.subtitle }}</p>
<nav>
	<ul>
		{% assign pages = (site.pages | sort: "menuPosition") %}
		{% for node in pages %}
		{% if page.url == node.url %}
		<li class="active"><a text="#ffffff" link="#ff0000" vlink="#ff0000" alink="#ff0000" href="{{ site.baseurl }}{{node.url}}" class="active">{{node.menuItem}}</a></li>
		{% else %}
		<li><a text="#ffffff" link="#ff0000" vlink="#ff0000" alink="#ff0000" href="{{ site.baseurl }}{{node.url}}">{{node.menuItem}}</a></li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>
